<!DOCTYPE html>
{% block doc -%}
    <html lang="en"{% block html_attribs %}{% endblock html_attribs %} >
    {%- block html %}
        <head>
            {%- block metas %}
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="title" content="Lost Ark Island Tracker">
                <meta name="description" content="Ever wanted to track what islands you've been to in Lost Ark? Look no further!">
                <meta name="keywords" content="lostark, lost ark, lost ark islands, lost ark island tracker, island tracker">
                <meta name="robots" content="index, follow">
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <meta name="language" content="English">
                <!-- Open Graph / Facebook -->
                <meta property="og:type" content="website">
                <meta property="og:url" content="https://lost-ark.theairplan.com/">
                <meta property="og:title" content="Lost Ark Island Tracker">
                <meta property="og:description" content="Ever wanted to track what islands you've been to in Lost Ark? Look no further!">
                <meta property="og:image" content="{{ url_for('static', filename='images/mokoko-seed.jpg', _external=True) }}">

                <!-- Twitter -->
                <meta property="twitter:card" content="summary_large_image">
                <meta property="twitter:url" content="https://lost-ark.theairplan.com/">
                <meta property="twitter:title" content="Lost Ark Island Tracker">
                <meta property="twitter:description" content="Ever wanted to track what islands you've been to in Lost Ark? Look no further!">
                <meta property="twitter:image" content="{{ url_for('static', filename='images/mokoko-seed.jpg', _external=True) }}">

            {%- endblock metas %}

            {%- block head %}
                <title>{% block title %}{{ title|default }}{% endblock title %} | Lost Ark Island Tracker</title>
                <!-- Favicons -->

                <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename="favicons/apple-touch-icon.png", v=2) }}">
                <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename="favicons/favicon-32x32.png", v=2) }}">
                <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename="favicons/favicon-16x16.png", v=2) }}">
                <link rel="manifest" href="{{ url_for('static', filename="favicons/site.webmanifest", v=2) }}">
                <link rel="mask-icon" href="{{ url_for('static', filename="favicons/safari-pinned-tab.svg", v=2) }}" color="#5bbad5">
                <link rel="shortcut icon" href="{{ url_for('static', filename="favicons/favicon.ico", v=2) }}">
                <meta name="msapplication-TileColor" content="#00aba9">
                <meta name="theme-color" content="#99d599">

                {%- block styles %}
                    <!-- Bootstrap -->
                    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" id="bootstrap-style">
                    <!-- Dark mode theme -->
                    <!--<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">-->
                    <link rel="stylesheet"
                          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                          crossorigin="anonymous" referrerpolicy="no-referrer"/>
                    <link rel="stylesheet"
                          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
                          crossorigin="anonymous" referrerpolicy="no-referrer"/>
                    {%- block userstyles %}
                    {%- endblock userstyles %}
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body {% block body_attribs %}{% endblock body_attribs %} >
        {% block body -%}
            {% block navbar %}
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <a class="navbar-brand" href="{{ url_for('index') }}">Lost Ark Island Tracker</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% if request.endpoint == 'index' %} active {% endif %}">
                                <a class="nav-link" href="{{ url_for('index') }}">All Islands <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <!-- Island Type Dropdown -->
                            <li class="nav-item dropdown {% if request.endpoint == 'island_info' %}active{% endif %}">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Island Types
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="honing_materials") }}">Honing Material Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="adventure_island") }}">Adventure Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="pvp_enabled") }}">PvP Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="pirate_coin") }}">Pirate Coin Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="engraving_island") }}">Engraving Book Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="timed_island") }}">Timed Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="una_task") }}">Una's Task Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="rapport") }}">Rapport Islands</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('island_tier', tier=1) }}">Tier 1 Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_tier', tier=2) }}">Tier 2 Islands</a>
                                    <a class="dropdown-item" href="{{ url_for('island_tier', tier=3) }}">Tier 3 Islands</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('island_info', island_type="token") }}">Islands with tokens</a>
                                </div>
                            </li>
                            <!-- Changelog modal button -->
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#changelogModal">Changelog</a>
                            </li>
                        <li>
                            <a class="nav-link" href="{{ url_for('static', filename='data.json') }}">Raw Data</a>
                        </li>
                        </ul>
                        <ul class="navbar-nav">
                            <!-- Dark mode toggle -->
                            <button aria-label="Toggle Dark Mode" id="dark-mode-toggle" class="btn btn-outline-light" type="button"
                                    onclick="toggleDarkMode()" data-toggle="tooltip" data-placement="left" title="Toggle light mode">
                                <i class="fas fa-sun"></i>
                            </button>
                        </ul>
                    </div>
                </nav>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="container mt-4">
                            {% for category, message in messages %}
                                <div id="flash"
                                     class="alert alert-{{ category }} alert-dismissible fade show text-center"
                                     role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% if success %}
                    <div class="container mt-4">
                        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                            Success!
                        </div>
                    </div>
                {% endif %}
            {%- endblock navbar %}
            {% block content -%}
            {%- endblock content %}
            <footer class="bottom">
                <div class="text-center">
                    <p>Crafted by <a href="https://github.com/mja00" target="_blank">mja00</a> | If you wish to <a
                            href="https://github.com/sponsors/mja00" target="_blank">sponsor me</a> | <a
                            href="https://twitter.com/officialmja00" target="_blank">Twitter</a></p>
                </div>
            </footer>
            <!-- Modal -->
            <div class="modal fade" id="changelogModal" tabindex="-1" role="dialog" aria-labelledby="changelogModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="changelogModalLabel">Changelog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Changes for 1.0.0 (2022-03-09):
                      <ul>
                          <li>Added upcoming islands, will fill with information once it becomes available.</li>
                          <li>Started working on trade skill displays for islands.</li>
                          <li>Added a changelog and started versioning with this version :)</li>
                      </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            {% block scripts %}
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                        crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
                        crossorigin="anonymous"></script>
                <script>
                    const boostrapCDN = "https://bootswatch.com/4/flatly/bootstrap.min.css";
                    const darkCDN = "https://bootswatch.com/4/darkly/bootstrap.min.css";
                    const link = document.getElementsByTagName("link")[1];
                    const darkmodeButton = document.getElementById("dark-mode-toggle");

                    // Toggle dark mode if the user has set it
                    if (localStorage.getItem("darkMode") === "false") {
                        turnOffDarkMode();
                    }

                    $(document).ready(function () {
                        $('[data-toggle="tooltip"]').tooltip();

                        // Hide any alerts after 5 seconds
                        $("#flash").delay(5000).slideUp(200, function () {
                            $(this).alert('close');
                        });
                    });

                    function turnOnDarkMode() {
                        // Change the href to the dark CDN
                        link.href = darkCDN;
                        // Change the button icon to a light icon
                        darkmodeButton.innerHTML = '<i class="fas fa-sun"></i>';
                        // Set the user's preference to true
                        localStorage.setItem("darkMode", true);
                    }

                    function turnOffDarkMode() {
                        // Change the href to the bootstrap CDN
                        link.href = boostrapCDN;
                        // Change the button icon to a dark icon
                        darkmodeButton.innerHTML = '<i class="fas fa-moon"></i>';
                        // Set the user's preference to false
                        localStorage.setItem("darkMode", false);
                    }

                    function toggleDarkMode() {
                        // Get the stylesheet link element
                        const link = document.getElementsByTagName("link")[1];
                        const darkmodeButton = document.getElementById("dark-mode-toggle");
                        // Get the user's preference from the local storage
                        const darkMode = localStorage.getItem("darkMode");
                        // If the user has not set a preference yet
                        if (darkMode === null) {
                            // Set it to false
                            localStorage.setItem("darkMode", false);
                        }
                        // Check if the href is equal to the bootstrap CDN
                        if (link.href === boostrapCDN) {
                            turnOnDarkMode();
                        } else {
                            turnOffDarkMode()
                        }

                    }
                </script>
            {%- endblock scripts %}
            {% block userscripts -%}
            {%- endblock userscripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
