{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block userstyles %}
    <style>
        .striked {
            text-decoration: line-through;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid mt-2">
        {% for island_row in islands | batch(4, None) %}
            <div class="row mb-2">
                {% for island in island_row %}
                    <div class="col">
                        {% if island %}
                            <div class="card border-danger" id="island-card-{{ island.id }}">
                                <h5 class="card-header">
                                    {{ island.name }}
                                </h5>
                                <div class="card-body">
                                    <p class="card-text">
                                    <ul class="list-unstyled">
                                        <li id="tier-{{ island.id }}">Tier {{ island.tier }} -
                                            Item Level {{ island.ilvl }}</li>
                                        <li id="mokoko-{{ island.id }}">
                                            {% if island.maxroll_link and island.mokoko_count > 0 %}
                                                <a id="mokoko-link-{{ island.id }}"
                                                   href="{{ island.maxroll_link }}#mokokos-8c643f20-12ec-4f5e-8b19-c26b12540251"
                                                   target="_blank"
                                                   class="text-decoration-none">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>{% endif %}
                                            <label style="pointer-events: none;" id="label-mokoko-checkbox-{{ island.id }}" for="mokoko-checkbox-{{ island.id }}">Mokoko Seeds: {{ island.mokoko_count }}</label>
                                            {% if island.maxroll_link and island.mokoko_count > 0 %}</a>{% endif %}
                                            <input data-toggle="tooltip" data-placement="right"
                                                   title="Mark Mokoko Completed" id="mokoko-checkbox-{{ island.id }}"
                                                   type="checkbox" onclick="onMokokoCheck({{ island.id }})">
                                        </li>
                                        <li id="island-quests-{{ island.id }}">
                                            <a id="island-quests-link-{{ island.id }}"
                                               href="{{ island.maxroll_link }}#island-quests-and-rewards-2a7afe14-341f-4184-87c0-53d0abaecc2e"
                                               target="_blank"
                                               class="text-decoration-none">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                <label style="pointer-events: none;" id="label-quest-checkbox-{{ island.id }}" for="quest-checkbox-{{ island.id }}">Island Quests</label>
                                            </a>
                                            <input data-toggle="tooltip" data-placement="right"
                                                   title="Mark Quests Completed" id="quest-checkbox-{{ island.id }}"
                                                   type="checkbox" onclick="onQuestCheck({{ island.id }})">
                                        </li>
                                        {% if island.token %}
                                            <li id="token-{{ island.id }}">
                                                <a id="token-link-{{ island.id }}"
                                                   href="{{ island.maxroll_link }}#island-heart-details-3c2cad9c-b14d-4baf-8437-92a53317e35c-2"
                                                   target="_blank"
                                                   class="text-decoration-none">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                    <label style="pointer-events: none;" id="label-token-checkbox-{{ island.id }}" for="token-checkbox-{{ island.id }}">Has island token</label>
                                                </a>
                                                <input data-toggle="tooltip" data-placement="right"
                                                       title="Mark Token Completed" id="token-checkbox-{{ island.id }}"
                                                       type="checkbox" onclick="onTokenCheck({{ island.id }})">
                                            </li>
                                        {% else %}
                                            <li>Has no island token</li>
                                        {% endif %}
                                        <li id="island-contents-{{ island.id }}">
                                            {% if not island.no_content %}
                                                Island's contents:
                                            {% else %}
                                                This island has no content.
                                            {% endif %}
                                            {% if island.adventure_island %}
                                                <i style="color: orange;" data-toggle="tooltip" data-placement="top"
                                                   title="Adventure Island"
                                                   class="fa-solid fa-dungeon"></i>
                                            {% endif %}
                                            {% if island.pvp_enabled %}
                                                <i style="color: darkred;" data-toggle="tooltip" data-placement="top"
                                                   title="PvP Enabled" class="fa-solid fa-shield"></i>
                                            {% endif %}
                                            {% if island.pirate_coin %}
                                                <i style="color: goldenrod;" data-toggle="tooltip" data-placement="top"
                                                   title="Pirate Coins" class="fa-solid fa-coins"></i>
                                            {% endif %}
                                            {% if island.honing_materials %}
                                                <i style="color: lightblue;" data-toggle="tooltip" data-placement="top"
                                                   title="Honing Materials" class="fa-solid fa-gem"></i>
                                            {% endif %}
                                            {% if island.engraving_island %}
                                                <i style="color: green;" data-toggle="tooltip" data-placement="top"
                                                   title="Engravings" class="fa-solid fa-book"></i>
                                            {% endif %}
                                            {% if island.timed_island %}
                                                <i style="color: purple;" data-toggle="tooltip" data-placement="top"
                                                   title="Timed Island" class="fa-solid fa-stopwatch"></i>
                                            {% endif %}
                                            {% if island.una_task %}
                                                <i style="color: slateblue;" data-toggle="tooltip" data-placement="top"
                                                   title="Una's Tasks" class="fa-solid fa-list-check"></i>
                                            {% endif %}
                                            {% if island.rapport %}
                                                <i style="color: deeppink;" data-toggle="tooltip" data-placement="top"
                                                   title="Rapport Island" class="fa-solid fa-heart"></i>
                                            {% endif %}

                                        </li>
                                    </ul>
                                    <div class="btn-group" role="group" aria-label="Buttons">
                                        {% if island.maxroll_link %}
                                            <a class="btn btn-primary" href="{{ island.maxroll_link }}" target="_blank">
                                                Maxroll
                                            </a>
                                        {% endif %}
                                        <button id="complete-button-{{ island.id }}" class="btn btn-success"
                                                onclick="completeIsland({{ island.id }})">
                                            Complete
                                        </button>
                                        <button id="interested-button-{{ island.id }}" class="btn btn-warning"
                                                onclick="interestedIsland({{ island.id }})">
                                            Interested
                                        </button>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block userscripts %}
    <script src="{{ url_for('static', filename="js/islands.js") }}"></script>
{% endblock %}